* {
  font-family: "Montserrat";
  text-align: center;
}

p {
  font-family: Verdana;
  color: #8f8f8f;
}

/* Headings */

.big-heading,
.intro {
  line-height: 1.5;
  font-size: 3.5rem;
  margin: 30px auto;
}

/* Containers */

div.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #222f;
  color: #fff;
}

.white-section {
  background-color: #f1b642;
}

/* Navigation Bar */

nav.navbar {
  font-size: large;
  padding-bottom: 3rem;
}

li.nav-item {
  padding: 0 18px;
}

a.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat-light";
}

a.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

button.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

.left {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(10deg);
  position: absolute;
  right: 10%;
}

/* Features */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

div.box {
  padding: 5%;
}

.icon {
  color: #222f;
  margin-bottom: 1rem;
}

.icon:hover {
  color: rgb(85, 83, 83);
}

.txt-whoWeAre {
  color: #000000;
  font-size: 22px;
}

/* Testimonial Section */

#testimonials {
  background-color: #222f;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.txt--carousel {
  font-size: 1.3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 30px;
}

/* Press */

#press {
  padding-bottom: 3%;
  background-color: #f1b642;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: auto 30px;
}

/* Pricing Section with cards */

#pricing {
  padding: 30px;
}

/* Call to action */

.cta-heading {
  line-height: 1.5;
  font-size: 3.5rem;
  margin: 30px auto 30px auto;
}

/* Footer */

.ico {
  margin: 20px 10px;
  color: black;
}

/* Media */

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    padding-left: 0px;
    padding-right: 0px;
    left: 0px;
  }

  #title {
    text-align: center;
  }
}

.image3 {
  height: 700px;
  width: 700px;
}
